*{
    font-family:'Courier New';
}
h3{
    color:purple;
}
h1 {
    color:#b92b27;
}
#login{
    background-color: white;
}
#signup{
    background-color: white;
    color:black;
}
.upvote{
    background-color: green;
    color:aliceblue;
}
.post a{
    color:purple;
    background-color:yellow;
}
nav a{
    color:hotpink;
}
p + h3 {
    text-decoration: underline;
}
.upvote + button{
    background-color:cornflowerblue;
}
div > input{
    background-color:darksalmon;
}
input[type="text"]{
    color:green;
}
input[type="password"]{
    color:green;
}
input[type]{
    background-color:ghostwhite;
}
#myid p{
    color:green;
}
button:hover{
    background-color:black;
    color:white;
}
p:active{
    font-weight:bold;
    color:green;
}
button:active{
    background-color:pink;
}
input[type="radio"]:checked + label{
    color:red;
    font-weight:bold;
}
div:nth-of-type(1n){
    background-color:blanchedalmond;
}